

body {
font-size: 15px;
font-family: Verdana, sans-serif;
line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
font-family: "Segoe UI", sans-serif;  
font-weight: 400;  
font-size: 20px;
}






a {
color: inherit;
text-decoration: none;
}


a:hover {
text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
border-bottom: 0;
}





